.footer {
  grid-area: footer;
  border-top: 1px solid #efeae1;
  background: rgba(239, 234, 225, 0.2);
  display: flex;
  align-items: center;
}
.footer img {
  height: 2rem;
  cursor: pointer;
  transition: all 0.2s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer img:hover {
  scale: 1.1;
}
.footer p {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #747474;
  margin: 0;
}
