.header {
  grid-area: header;
  background: rgba(239, 234, 225, 0.2);
  border-bottom: 1px solid #efeae1;
  display: flex;
  align-items: center;
}
.header img {
  cursor: pointer;
  transition: all 0.2s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header img:hover {
  scale: 1.1;
}
.header .logo {
  height: 2.7rem;
  margin-top: 0.35rem;
}
.header .avatar {
  height: 2.2rem;
  border-radius: 50%;
}
